body {
}
.life-game {
  margin: 20px;
  text-align: center;
}
.life-game input {
  max-width: 200px;
}
.life-game button {
  margin-bottom: 20px;
}
.life-game .grid {
  position: relative;
}
.life-game .grid>div {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #e2e2e2;
}

.life-game .grid>div.active {
  background-color: black;
}
.life-game .board-holder {
  display: flex;
  justify-content: center;
}